.css_block {
	border: 2px solid;
	/*设置overflow后,子元素float浮动后,也可以被撑开*/
	overflow: hidden;
	background-color: #343434;
	color: white;
}

.css_block>div {
	/*设置overflow后,子元素float浮动后,也可以被撑开*/
	overflow: hidden;
	background-color: #444444;
}

.css_block>div>div {
	float: left;
	overflow: hidden;
}

div {
	margin: 10px;
	text-align: center;
}

span {
	color: #FFFFFF;
	font-size: 36px;
	font-weight: bold;
	margin: 30px;
}


.transition {
	width: 100px;
	height: 100px;
	background-color: coral;
	transition: width 0.5s linear 2s;
}

.transition:hover {
	width: 500px;
}

@keyframes animal {
	from {
		background-color: #000000;
	}
	to {
		background-color: #FF7F50;
	}
}

.animal {
	width: 100px;
	height: 100px;
	background-color: #000000;
}

.animal:hover {
	animation: animal 3s;
}