.flex {
	/*display: flex/ inline-flex*/
	/*flex-direction: row | row-reverse | column | column-reverse*/
	/*direction: rtl;*/
	/*align-items: flex-start | flex-end | center | baseline | stretch*/
	/*align-content: flex-start | flex-end | center | space-between | space-around | stretch*/
	/*order: -1;数字小的排在前面*/
	/*align-self: auto | flex-start | flex-end | center | baseline | stretch*/
	/*flex: auto | initial | none | inherit |  [ flex-grow ] || [ flex-shrink ] || [ flex-basis ]*/
}


/*display	指定 HTML 元素盒子类型。
flex-direction	指定了弹性容器中子元素的排列方式
justify-content	设置弹性盒子元素在主轴（横轴）方向上的对齐方式。
align-items	设置弹性盒子元素在侧轴（纵轴）方向上的对齐方式。
flex-wrap	设置弹性盒子的子元素超出父容器时是否换行。
align-content	修改 flex-wrap 属性的行为，类似 align-items, 但不是设置子元素对齐，而是设置行对齐
flex-flow	flex-direction 和 flex-wrap 的简写
order	设置弹性盒子的子元素排列顺序。
align-self	在弹性子元素上使用。覆盖容器的 align-items 属性。
flex	设置弹性盒子的子元素如何分配空间。*/

.flex_container {
	display: flex;
	/*flex-direction+flex-wrap*/
	/*flex-flow: row row-reverse;*/
	/*项目排列方向*/
	flex-direction: row;
	/*换行*/
	flex-wrap: wrap;
	/*X轴对齐方式*/
	justify-content: flex-start;
	/*Y轴对齐方式*/
	align-items: center;
	/*Y轴多轴对齐方式*/
	align-content: center;
}

.flex_item {
	width: 100px;
	height: 100px;
	background-color: darkgray;
	/*排列顺序*/
	order: 0;
	/*flex-grow+flex-shrink+flex-basis*/
	/*flex: 0 1 auto;*/
	/*如果存在剩余空间,项目放大比例*/
	flex-grow: 0;
	/*如果空间不足,项目缩小比例:1*/
	flex-shrink: 0;
	/*类似于宽度属性*/
	flex-basis: auto;
	/*单独设置对齐方式*/
	align-self: auto;
}